/* .navigation_items {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.navigation_item {
    min-width: 40px;
    text-transform: uppercase;
    color: #95e1d3;
}
.navigation_item:hover {
    color: #f38181;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    max-width: 490px;
    margin-right: 260px;
    margin-left: 713px;s
} */